.card {
    width: 90%;
    height: 40dvh;
    position: relative;
    border-radius: 40px;
    transition: all 0.8s;
    perspective: 600px;
    perspective-origin: center bottom;
    box-shadow:  -5px 5px 10px #50457d,
             5px -5px 10px #7061b1;
    transition: box-shadow 1s;
  }
  .card:hover{
    box-shadow: none;
  }
  .upperpart {
    width: 100%;
    height: 65%;
    border-radius: 40px 40px 0 0;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.9s;
  }
  
  .upperpartface,
  .upperpartback {
    text-align: center;
    background-color: lightgray;
    color: rgb(101 52 147 / 100%);
    border: 3px solid #2f4f4f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: justify;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 1px;
    border-radius: 35px 35px 0 0;
    font-weight: bold;
    z-index: 2;
    backface-visibility: hidden;
    transition: all 0.6s;
  }
  
  .upperpartback {
    background-color: #2f4f4f;
    color: lightgray;
    transform: rotatex(180deg);
    padding: 20px;
  }
  .upperpartback p {
    line-height: normal !important;
    margin-top: 10px;
    text-align: left;
  }
  
  .lowerpart {
    width: 100%;
    height: 35%;
    border-radius: 0 0 35px 35px;
    position: relative;
    transform-style: preserve-3d;
    transform-origin: center top;
    transition: all 0.9s;
  }
  
  .lowerpartface,
  .lowerpartback {
    background-color: #2f4f4f;
    width: 100%;
    height: 100%;
    color: lightgray;
    font-weight: bold;
    position: absolute;
    border-radius: 0 0 35px 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0, -0.8px);
    backface-visibility: hidden;
    z-index: 2;
    text-align: center;
    font-size: large;
    padding: 10px;
    flex-direction: column;
  }
  
  .lowerpartback {
    backface-visibility: visible;
    color: rgb(101 52 147 / 100%);
    background-color: lightgray;
    transform: rotateX(180deg);
    z-index: 1;
    color: #2f4f4f;
    border-radius: 35px 35px 0px 0px;
    transition: border-radius 1.2s;
    border: 2px solid #2f4f4f;
  }
  
  .card:hover > .upperpart {
    transform: rotatex(-0.5turn);
  }
  
  .card:hover > .lowerpart {
    transform: translateY(110.3px) rotateX(0.5turn);
  }
  
  .card:hover > .lowerpart > .lowerpartback {
    border: 3px solid rgb(101 52 147 / 100%);
    border-radius: 0 0 35px 35px;
  }

  .pushable {
    position: relative;
    background: transparent;
    padding: 0px;
    border: none;
    cursor: pointer;
    outline-offset: 4px;
    outline-color: deeppink;
    transition: filter 250ms;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  .shadow {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: hsl(226, 25%, 69%);
    border-radius: 8px;
    filter: blur(2px);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  }
  
  .edge {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    background: linear-gradient(
      to right,
      hsl(248, 39%, 39%) 0%,
      hsl(248, 39%, 49%) 8%,
      hsl(248, 39%, 39%) 92%,
      hsl(248, 39%, 29%) 100%
    );
  }

  .front {
    display: block;
    position: relative;
    border-radius: 8px;
    background: hsl(248, 53%, 58%);
    padding: 16px 32px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 1rem;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  }
  
  .pushable:hover {
    filter: brightness(110%);
  }
  
  .pushable:hover .front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  }
  
  .pushable:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
  
  .pushable:hover .shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  }
  
  .pushable:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }
  
  .pushable:focus:not(:focus-visible) {
    outline: none;
  }
  